__pycache__
backup.db
/cache
/dashenv
dashExtensions_default.js
secrets.json
sensor.json
sensor-geojson.js
csv/*.csv
csv/*.csv.gz
csv/*.xlsx

# Editor configs
.vscode/

src/we_count/frontend/locales/messages.pot
