dash
dash_bootstrap_components
dash-extensions
dash-leaflet
geopandas>=1.0.0
mysqlclient
openpyxl
osmnx
plotly>=5.24
pandas
pyproj
requests
sqlalchemy
timezonefinder
pandas_geojson
beautifulsoup4
geopandas
leafmap
