[Unit]
Description=we-count GoatCounter
After=network.target

[Service]
User=we-count
Group=we-count

WorkingDirectory=/home/we-count/goatcounter
ExecStart=/home/we-count/goatcounter/goatcounter serve \
  -listen=127.0.0.1:9090 \
  -tls=none \
  -base-path=/goatcounter \
  -automigrate
Restart=always

[Install]
WantedBy=multi-user.target

# to set this up download goatcounter from https://github.com/arp242/goatcounter/releases and symlink the newest version, then
# ./goatcounter db create site -vhost=we-count.codefor.de -user.email=kontakt@berlin-zaehlt.de -createdb
