[Unit]
Description=we-count GoatCounter
After=network.target

[Service]
User=www-data
Group=www-data

WorkingDirectory=/srv/www/goatcounter
ExecStart=/srv/www/goatcounter/goatcounter serve \
  -listen=127.0.0.1:9090 \
  -tls=none \
  -base-path=/goatcounter \
  -automigrate
Restart=always

[Install]
WantedBy=multi-user.target

# to set this up download goatcounter from https://github.com/arp242/goatcounter/releases and symlink the newest version, then
# ./goatcounter db create site -vhost=berlin-zaehlt.de -user.email=kontakt@berlin-zaehlt.de -createdb
# create an API-key (see the goatcounter-import service for details)
# copy the service files to /etc/systemd/system and enable them with systemctl enable --now goatcounter goatcounter-import
