[Unit]
Description=we-count GoatCounter log importer
After=goatcounter.service
Requires=goatcounter.service

[Service]
User=we-count
Group=we-count

WorkingDirectory=/home/we-count/goatcounter

Environment=GOATCOUNTER_API_KEY=11zsu4tl5pan31wwb37m76kyeh1tw7h0ezebelj22kb6oe7et5o9

ExecStart=/home/we-count/goatcounter/goatcounter import \
  -site http://127.0.0.1:9090/goatcounter \
  -format combined \
  -follow \
  /var/log/gunicorn/we-count/access.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# the API key can be generated using ./goatcounter db create apitoken -name importer -perm count -user 1
